<div class="fstwd">
    <p id="frstx"> A beautiful plant is like having </p>
    <p id="secdtxt"> a Friend around you!</p>
    <div class="frame2">
          <button class="custom-btn btn-16">Shop Now</button>
    </div>
    	<%= image_tag('shp-im.png',alt: "bg", id: "frimg")%>
</div>

<div>
    <div id="shp1">
        <%= image_tag('capsicum.jpg',alt: "bg", id: "spfrs")%>
    </div>
    <b><p id="prd1"> product1 </p></b>
     <div class="frame3">
          <button class="cust-btn bt-1">Add Cart</button>
    </div>
</div>


 
