
<%= image_tag('sgnbg.jpg', id:"bgim") %> 
<div class="box">
  <h1 class="head">SignUp</h1>
  <br><br>
  <form>
   <label>UserName</label>
   <input class="usnm" type="text" placeholder="">
   <br><br>
    <label>Email</label>
   <input class="eml" type="text" placeholder="">
   <br><br>
    <label>Password</label>
   <input class="pswd" type="password" placeholder="">
   <br><br>
    <label>Confirm Password</label>
   <input class="cnfpsd" type="password" placeholder="">
   <br><br>
   <button type="submit" class="submit">Submit</button>
   </form>
   </div>