<div class="container-a">
    <div class="navbar">
        <div class="logo">
            <h1>
                Plant-it
            </h1>
        </div>
        <div class="sub-navbar">
            <ul class="items-nav">
                <li> <a href="../farmfresh/blogs.html.erb">Blog</a></li>
                <li> <a href="../farmfresh/shop.html.erb">Shop</a></li>
                <li> <a href="#">SocialWeb</a></li>
                <li> <a href="#">About</a></li>
                <li> <a href="#">Review</a></li>
                
            </ul>
        </div>
        <div class="icon-nav">
            <ul class="icon-holder">
                <li><a href="#"><i class='bx bx-cart'></i></a></li>
                <li><a href="#"><i class='bx bx-user' ></i></a></li>
                <li><a href="#"><i class='bx bx-search' ></i></a></li>
            </ul>
        </div>
    </div>
</div>

